.content {
    min-height: 100vh;
}

.card-login {
    width: 400px;
    height: 500px;
}

#valor-saldo {
	font-size: 1.5em
}

.btn-operacao {
	border: solid 1px gray;
	height: 100px;
	width: 100px;
	border-radius: 50px;
}

.svg-inline--fa {
	height: 3em;
}

.svg-inline--fa.fa-w-18{
	width: 3em;
}

.icon-debito {
	transform: rotate(180deg);
}